@model CrudBike.Models.ViewModels.MotorBikeViewModel
@using CrudBike.Extensions

<script>
 // getting the model with the selected makes/ brands in the dropdown list

    $(document).ready(function () {
        var MakeDDL = $("#Make"); //define variables
        var ModelDDL = $("#Model");
     //   ModelDDL.prop('disabled', true); // disabling the Model dropdowns if no value is selected
        MakeDDL.change(function () {
            if ($(this).val() == "0") {
                ModelDDL.prop('disabled', true);
                ModelDDL.val("0");
            }
            else { // calling endpoint- allow web pages data to run asynchronously
                $.ajax({
                    url: "/api/models/" + $(this).val(),
                    method: "get", // type of request
                    success: function (data) {
                        ModelDDL.prop('disabled', false);
                        console.log("Success:");
                        ModelDDL.empty(); // remove all elements from model dropdown
                        ModelDDL.append($('<option/>', { value: '0', text: '--Select Model--' })); // to add data receive
                        $(data).each(function (index, item) {// this method is to populate the model dropdown
                            ModelDDL.append($('<option/>', { value: item.id, text: item.name})); // append the data
                        });
                    }
                });
            }
        });
    });
</script>

<br />
<h2 class="text-info">Edit MotorBike</h2>
<br/>

<form method="post" enctype="multipart/form-data" action="Edit">
    <input hidden asp-for="MotorBike.Id" />
    <input hidden asp-for="MotorBike.ImagePath" />

    <div class="form-group row">
        <div class="col-2">
            <label asp-for="Makes"></label>
        </div>
        <div class="col-4">
            <select asp-for="MotorBike.MakeID" asp-items="Model.Makes.ToSelectListItem()" class="form-control" id="Make"></select>
            <span asp-validation-for="MotorBike.MakeID" class="text-danger"></span>
        </div>

        <div class="col-auto">
            <label asp-for="MotorBike.ImagePath"></label>
        </div>
        <div class="col-4">
            <input type="file" name="files" class="form-control" />
        </div>

    </div>

    <div class="form-group row">
        <div class="col-2">
            <label asp-for="Models"></label>
        </div>
        <div class="col-4">
            <select asp-for="MotorBike.ModelID" asp-items="Model.Models.ToSelectListItem()" class="form-control" id="Model"></select>
            <span asp-validation-for="MotorBike.ModelID" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-2">
            <label asp-for="MotorBike.Year"></label>
        </div>
        <div class="col-4">
            <input asp-for="MotorBike.Year" class="form-control" />
            <span asp-validation-for="MotorBike.Year" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-2">
            <label asp-for="MotorBike.Mileage"></label>
        </div>
        <div class="col-4">
            <input asp-for="MotorBike.Mileage" class="form-control" />
            <span asp-validation-for="MotorBike.Mileage" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-2">
            <label asp-for="MotorBike.Price"></label>
        </div>
        <div class="col-4">
            <input asp-for="MotorBike.Price" class="form-control" />
            <span asp-validation-for="MotorBike.Price" class="text-danger"></span>
        </div>

        <div class="col-1">
            <label asp-for="MotorBike.Currency"></label>
        </div>
        <div class="col-4">
            <select asp-for="MotorBike.Currency" asp-items="Model.Currencies.ToSelectListItem()" class="form-control"></select>
            <span asp-validation-for="MotorBike.Currency" class="text-danger"></span>
        </div>

    </div>

    <div class="form-group row">
        <div class="col-2">
            <label asp-for="MotorBike.Features"></label>
        </div>
        <div class="col-4">
            <textarea asp-for="MotorBike.Features" class="form-control"></textarea>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-2">
            <label asp-for="MotorBike.SellerName"></label>
        </div>
        <div class="col-4">
            <input asp-for="MotorBike.SellerName" class="form-control" />
            <span asp-validation-for="MotorBike.SellerName" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-2">
            <label asp-for="MotorBike.SellerEmail"></label>
        </div>
        <div class="col-4">
            <input asp-for="MotorBike.SellerEmail" class="form-control" />
            <span asp-validation-for="MotorBike.SellerEmail" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-2">
            <label asp-for="MotorBike.SellerPhone"></label>
        </div>
        <div class="col-4">
            <input asp-for="MotorBike.SellerPhone" class="form-control" />
            <span asp-validation-for="MotorBike.SellerPhone" class="text-danger"></span>
        </div>
    </div>


    <br />

    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Update" />
        <a asp-action="Index" class="btn btn-success">Back</a>
    </div>

</form>
